*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container-div {
  max-width: 25%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  height: 600px;
  margin-top: 10px;
  background: linear-gradient(
    to bottom,
    #ffaf7b,
    #d76d77,
    #3a1c71
  );
  
}

.bmi{
  padding-top: 20px;
  text-align: left;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 12%;

}

.weight, .height[type="number"] {
  width: 100%;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid black;
  background:transparent;
  /* border:none; */
  outline: none;

  }

  .weight:hover, .height:hover {
    border-bottom: 1px solid yellow;
  }
   
::placeholder{
  color: black;
}


.calculate-bmi {
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  color: rgb(255, 198, 13);
  cursor: pointer;
  /* background-color:  #d76d77; */

}

